.createPlateBtn {
  background-color: #092F37 !important;
  color: white !important;
  font-size: 20px !important;
}

.userLocation {
  margin-top: 0;
}

.left1 {
  padding-bottom: 2vh;
  border-bottom: black;
  border-bottom-style: solid;
  border-width: .5mm;
}

.left2 {
    color: black;
}

.left3 p{
  text-align: left;
  color: black;
}

.starRating {
  display: flex;
  justify-content: center;
}