.App {
  text-align: center;
}

@media only screen and (max-width: 900px) {
  body {
  }
  .navbar {
    display: none;
  }

  
  

}

@media only screen and (min-width: 901px) {
  
  .sidebar{
    display: none;
  }


}